body {
	font-family: Roboto, sans-serif;
}

.nav {
	padding: 1rem
}

.nav__item {
	list-style: none;
	display: block;
}

.nav__link {
	padding: 1rem;
	display: block;
}

.nav__link:hover {
	background:#195b73;
	color: white;
}

.newlink:hover {
	background: white;
	color: black;
}


header {
  font-family: Futura;
  color:#195b73;
  padding: 1rem 1rem 1rem;
}


h2 {
	font-family:Futura;
	color: white;
}

@media (min-width: 600px) {
	body {
background: #9edacb;
		color: black;
	}
}

@media (min-width: 40rem) {
    .nav__item {
        display: inline-block;
    }
    .nav__link {
        display: inline;
    }
}
