body {
	font-family: Roboto, sans-serif;
}

.newlink:hover {
	background: white;
	color: black;
}


header {
  font-family: Futura;
  color:white;
  padding: 1rem 1rem 1rem;
}


h2 {
	font-family:Futura;
	color: white;
	padding: 1rem 1rem 1rem;
}

p {
	font-family:sans-serif;
	color: black;
	padding: 0.5rem;
}

@media (min-width: 600px) {
	body {
background: #9edacb;
		color: black;
	}
}

@media (min-width: 40rem) {
    .nav__item {
        display: inline-block;
    }
    .nav__link {
        display: inline;
    }
}
